.dotted p {
    border-style: dotted;
    border-style: 25px 100px 200px;
    border-color: brown;
    border-top-style: solid;
    border-bottom-style: solid;
}
.dashed p {
    border-style: dashed;
    border-color: chocolate;
}
.solid p {
    border-style: solid;
    border-color: aquamarine;
}
.double p{
    border-style: double;
    border-radius: 10px;
    border-color: blue;
}
.groove p{
    border-style: groove;
}
.ridge p{
    border-style: ridge;
}
.inset p {
    border-style: inset;
}
.outset p{
    border-style: outset;
}
.none p {
    border-style: none;
}
.hidden p{
    border-style: hidden;
}
.mix p{
    border-style: dotted dashed double solid groove ridge;
}
.Test p{
    border-bottom-style: solid;
    border-bottom-color: brown;
}
